$shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);

.wine {
  min-width: 350px;
  height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    overflow: visible !important;
  }
  .wineBottle {
    position: absolute !important;
    bottom: 5em !important;
    pointer-events: none;
  }

  .backWine {
    position: absolute !important;
    left: -4em !important;
    top: 3em !important;
    rotate: 36deg;
    opacity: 0.3;
    max-width: 100%;
    object-fit: cover;
    border: 1px solid red;
  }

  .flag {
    position: absolute !important;
    right: 1em !important;
  }
}


.card {
  text-align: center;
  box-shadow: $shadow;
  border: 3px solid var(--gold-main);
  border-radius: 20px;

  div,
  p {
    font-size: 17px;
    color: var(--blue-dark);
    margin: 0;
  }

  div {
    font-style: italic;
  }

  button {
    background: var(--red-main);
    box-shadow: $shadow;
    border-radius: 30px;
    color: white;
    font-style: normal;
    font-size: 19px;
    width: 65%;
    margin: 25px;
  }
}