$red: var(--red-main);
$gold: var(--gold-main);

.wine__container {
  padding: 20px 0 20px 0;
  display: flex;
  img {
    max-width: 150px;
  }

  .wine__details {
    width: 100%;
    h1 {
      color: $red;
      font-size: 18px;
    }
    .details__quantity {
      display: flex;

      p {
        padding: 5px;
        font-size: 18px;
        color: $gold;
      }

      button {
        background-color: transparent;
        color: $gold;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
      }
    }

    button {
      padding: 3px;
      width: 80%;
      border-radius: 20px;
      cursor: default;
      color: white;
    }
  }
}

.wine__container:not(:last-child) {
  border-bottom: 2px solid $gold;
}
