@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap%27');

:root {
  --blue-main: hsl(232, 38%, 18%);
  --blue-dark: hsl(250, 16%, 22%);
  --blue-darker: hsl(335, 10%, 25%);
  --gold-main: hsl(33, 57%, 47%);
  --gold-dark: hsl(31, 46%, 40%);
  --gold-darker: hsl(26, 30%, 33%);
  --red-main: hsl(348, 95%, 31%);
  --red-light: hsl(359, 65%, 39%);
  --red-ligther: hsl(11, 61%, 42%);

  --red-disabled: hsl(348, 45%, 33%);
}

* {
  box-sizing: border-box;
  font-family: 'DM Serif Text', serif;
  padding: 0;
  margin: 0;
  /* Hide scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button {
  /* Reset button style */
  cursor: pointer;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}