@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap%27');

:root {
  --blue-main: hsl(232, 38%, 18%);
  --blue-dark: hsl(250, 16%, 22%);
  --blue-darker: hsl(335, 10%, 25%);
  --gold-main: hsl(33, 57%, 47%);
  --gold-dark: hsl(31, 46%, 40%);
  --gold-darker: hsl(26, 30%, 33%);
  --red-main: hsl(348, 95%, 31%);
  --red-light: hsl(359, 65%, 39%);
  --red-ligther: hsl(11, 61%, 42%);

  --red-disabled: hsl(348, 95%, 41%);
}

* {
  box-sizing: border-box;
  font-family: 'DM Serif Text', serif;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, */
    /* Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
}

.spin {
  animation: spin 2s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}