.container {
  width: 80%;
  margin: 100px auto;
  overflow: hidden;

  .sectionImg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .image {
      object-fit: cover;
      width: 100%;
      opacity: 0.7;
    }

    h3 {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 50px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .sectionFavorite {
    width: 100%;
    text-align: center;
    overflow: hidden;

    .background {
      position: absolute;
      width: 80%;
      height: 70%;
      background-image: url("/nav.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      opacity: 0.1;
      z-index: -1;
    }

    h1 {
      color: var(--red-main);
      font-size: 35px;
      margin: 50px;
    }

    .favoriteWineContainer {
      width: 80%;
      margin: 0 auto;
      gap: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    button:last-child {
      background-color: var(--red-main);
      color: white;
      font-size: 15px;
      padding: 10px 20px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      text-transform: uppercase;
      margin: 40px;
    }
  }

  .sectionHome {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    h1 {
      font-weight: 400;
      font-size: 37px;
      color: var(--red-main);
    }

    .images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    p {
      max-width: 60%;
      margin: 40px auto;
    }
  }

  .sectionInformations {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    img {
      width: 100%;
    }
    .info {
      width: 100%;
      padding-left: 50px;

      h2 {
        color: var(--gold-main);
      }

      p {
        line-height: 5px;
      }

      .data {
        margin-top: 50px;
      }
    }
  }
}
