$shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
$red: var(--red-main);
$gold: var(--gold-main);

.container {
  width: 80%;
  margin: 100px auto;
  overflow: hidden;

  .banner__section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner__img {
      object-fit: cover;
      width: 100%;
      opacity: 0.7;
    }

    h3 {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 50px;
      text-shadow: $shadow;
    }
  }

  .favorites__section {
    width: 100%;
    text-align: center;
    overflow: hidden;

    .favorites__background {
      position: absolute;
      width: 80%;
      height: 70%;
      background-image: url("/nav.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      opacity: 0.1;
      z-index: -1;
    }

    h1 {
      color: $red;
      font-size: 35px;
      margin: 50px;
    }

    .favorites__cards {
      width: 80%;
      margin: 0 auto;
      gap: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    button:last-child {
      background-color: $red;
      color: white;
      font-size: 15px;
      padding: 10px 20px;
      box-shadow: $shadow;
      border-radius: 30px;
      text-transform: uppercase;
      margin: 40px;
    }
  }

  .home__section {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    h1 {
      font-weight: 400;
      font-size: 37px;
      color: $red;
    }

    .home__images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    p {
      max-width: 60%;
      margin: 40px auto;
    }
  }

  .details__section {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    img {
      width: 100%;
    }
    .details__content {
      width: 100%;
      padding-left: 50px;

      h2 {
        color: $gold;
      }

      p {
        line-height: 5px;
      }

      .details__content__lower {
        margin-top: 50px;
      }
    }
  }
}
