.nav__container{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
  background-color: white;
  overflow: hidden;
  z-index: 5;

  .nav__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url('/nav.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 30%;
    opacity: .1;
    z-index: -1;
  }

  .nav__logo a{
    color: var(--gold-main);
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }

  .nav__content{
    margin: auto;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .nav__menu{
    display: inline-flex;
    gap: 60px;  
    padding: 0;
    li{
      position: relative;
      list-style: none;
      padding: 0 !important;
      a{
        color: var(--gold-main);
        font-size: 19px;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s ease;
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -2px;
          left: 0;
          background-color: var(--gold-main);
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.3s;
        }
        &:not(.activeLink):hover {
          &:after {
            transform-origin: bottom left;
            transform: scaleX(1);
          }
        }
      }
    }
    .activeLink {
      a:after {
        transform: scaleX(1);
      }
    }

  }
}

.sticky{
  position: fixed;
  padding: 10px 0;
  background: white;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}


.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancelBtn{
  position: absolute;
  right: 30px;
  top: 30px;
}

@media (max-width: 1176px) {
  .nav__container {
    .nav__menu {
      gap: 30px;
    }
  }
}

@media (max-width: 868px) {
  .icon{
    color: var(--gold-main);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon.cancelBtn{
    display: none;
  }
  .icon.cancelBtn.show{
    display: flex;
  }
  .icon.hide{
    display: none;
  }
  .nav__container .nav__menu{
    position: fixed;
    top: -20px;
    left: 0;
    height: calc(100vh + 20px);
    width: 100%;
    background: #fff;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 55px));
    transition: all 0.3s ease;
  }
  .nav__container.sticky .nav__menu{
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 38px));
  }
  .nav__container .nav__menu.nav__active{
    clip-path: circle(75%);
  }
  .nav__container .nav__menu li{
    margin-top: 45px;
  }
  .nav__container .nav__menu li a{
    font-size: 23px;
  }

  .nav__menu li a:after {
    display: none;
  }

  .activeLink {
    background-color: #e6e6e6;
  }
}

