.success {
  padding: 60px;
  color: var(--gold-main);
  text-align: center;

  p {
    color: black;
    margin: 35px 0px;
  }

  button {
    background: rgba(187, 125, 51, 0.2);
    border-radius: 20px; 
    padding: 20px 30px;
    color: var(--blue-main);
    font-weight: 400;
    font-size: 19px;
  }
}