.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  padding: 0 2em;
  h3 {
    color: var(--blue-dark);
    font-style: italic;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
  }

  h1 {
    display: flex;
    align-items: center;
    margin-top: 5px;
    color: var(--blue-dark);
    span {
      margin-left: auto;
      font-size: 20px;
      font-weight: 300;
      color: #00880E;
    }
    border-bottom: 2px solid var(--gold-main);
  }

  p {
    margin: 2em 0;
    font-size: 18px;
    font-weight: lighter;
  }

  h2 {
    color: var(--gold-main);
    font-size: 32px;
    font-weight: 400;
    margin: 1em 0;
  }

  button {
    background-color: var(--red-main);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 10px 50px;
    font-weight: 200;
    font-size: 20px;
    text-transform: uppercase;
  }

}