.wines__container {
  position: relative;
  width: 80%;
  display: grid;
  gap: 3em;
  margin: 150px auto;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .wines__container {
    display: block;
  }
}

@media (max-width: 1333px) {
  .wines__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 986px) {
  .wines__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
